.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.canvas {
  height: 100vh;
  width: 100vw;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
